@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MeeTime</h1>
    <p>All your video conferences in one place. Never miss another virtual meeting again.</p>
</div>
